
node_modules/
npm-debug.log

logs/
*.log
yarn-debug.log*
yarn-error.log*

node_modules/
jspm_packages/

.npm

.node_repl_history

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

tmp/
temp/
*.tmp
*.swp

dist/
build/

.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

coverage/
